@rendermode InteractiveServer

<footer class="flex items-center justify-end h-[48px] mt-auto mb-[35px] mr-[49px]">
    <img src="images/Copyright-Icon.png" alt="">
    <p class="text-[24px] mb-0 !ml-[5px] hind-madurai !font-semibold">PTCO</p>
    <img src="images/Footer-Divider.png" class="mx-[25px]" alt="">
    <FooterNavButton icon="images/Instagram-Icon.png" containerStyles="p-[2.5px] rounded-[5px] hover:scale-[1.075] hover:cursor-pointer" />
    <FooterNavButton icon="images/X-Icon.png" iconStyles="w-[45px]" containerStyles="mx-[25px] p-[2.5px] rounded-[5px] hover:scale-[1.075] hover:cursor-pointer" />
    <FooterNavButton icon="images/Mail-Icon.png" containerStyles="p-[2.5px] rounded-[5px] hover:scale-[1.075] hover:cursor-pointer" />
    <img src="images/Footer-Divider.png" class="mx-[25px]" alt="">
    <FooterNavButton icon="" title="Privacy" titleStyles="!mb-0 text-[24px] hind-madurai text-black !font-semibold" containerStyles="flex w-[100%] items-center justify-center text-center max-w-[273px] h-[45px] bg-[#E8E8E8] rounded-[5px] hover:scale-[1.075] hover:cursor-pointer" />
    <img src="images/Footer-Divider-Small.png" class="ml-[25px]" alt="">
</footer>