@inherits LayoutComponentBase

<div class="page h-[100vh]">
    <div class="ml-[25px] mt-[25px]">
        <NavMenu />
    </div>
    <main>
        <article class="!px-0 h-[100vh] flex flex-column">
            @Body
            <MainFooter />
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
