<header class="flex items-center !mt-[38px] ml-[40px]">
    <div>
        <img src="images/Heading-Divider-One.png" class="" alt="" srcset="">
        <h1 class="montserrat-semibold !ml-[40px] !mb-[0px]">@Heading</h1>
        <img src="images/Heading-Divider-Two.png" class="!ml-[121px]" alt="" srcset="">
    </div>
    <div class="flex items-center ml-auto mr-[40px]">
        <h2 class="!mb-0 mr-[25px] hind-madurai-semibold !text-[48px]"><strong>1</strong></h2>
        <img src="images/Notification-Icon.png" class="w-[55px] hover:scale-[1.05] hover:cursor-pointer" alt="" srcset="">
    </div>
</header>

@code  {
    [Parameter]
    public string Heading { get; set; } = "Page Title";

}