<header class="!mt-[38px]">
    <img src="images/Heading-Divider-One.png" class="" alt="" srcset="">
    <h1 class="montserrat-semibold !ml-[40px] !mb-[0px]">@Heading</h1>
    <img src="images/Heading-Divider-Two.png" class="!ml-[121px]" alt="" srcset="">
</header>

@code  {
    [Parameter]
    public string Heading { get; set; } = "Page Title";

}