@page "/Dashboard/Chats"
@layout Layout.Chats
@inject IJSRuntime JS

<article class="flex flex-column items-center mr-auto mt-[99px]">
    <h2 class="montserrat-semibold !text-[40px]">Pending Requests</h2>
    <div class="flex items-center mt-[20px]">
        <img src="images/User-Add-Chat-Icon-Large.png" class="w-[50px] !h-[44px]" alt="">
        <h3 class="hind-madurai-semibold !text-[36px] !ml-[20px] mb-0">1</h3>
        <button class="w-[125px] !h-[48px] bg-[#92BA92] montserrat-semibold !text-[30px] !rounded-[10px] !ml-[35px] hover:!scale-[1.05] transition-all">View</button>
    </div>
    <div class="flex items-center my-[50px]">
        <img src="images/Divider-Medium.png" class="h-[8px] w-[185px] my-[30px]" alt="" srcset="">
        <h4 class="mx-[6px] lora-semibold !text-[30px]">OR</h4>
        <img src="images/Divider-Medium.png" class="h-[8px] w-[185px] my-[30px]" alt="" srcset="">
    </div>
    <img src="images/Chats-Select-A-Chat.png" alt="" class="w-[480px] h-[116px] mx-auto">
</article>

@code {
}